<template>
  <div class="inline-input">
    <!-- Normal content -->
    <div
      show.bind="!isInlineInputMode"
      class="inlineInput__base ${classList}"
      dblclick.trigger="activateInlineInputMode()"
    >
      ${value}
    </div>

    <!-- Inline Input -->
    <input
      show.bind="isInlineInputMode"
      placeholder.bind="placeholder"
      focus.trigger="updateInlineInputAfterShortcut()"
      blur.trigger="onBluInlineInput()"
      value.bind="value"
      ref="inlineInputRef"
    />
  </div>
</template>
