@import (reference) '~styles/colors.less';

@tarotCardListWidth: 200px;

.tarot-learning {
  display: flex;

  .tarot-card-list-label {

  }

  .tarot-card-list {
    margin: 0 0; // top and bottom added from somewhere unknown
    width: @tarotCardListWidth;

    .tarot-card {
      display: flex;
      justify-content: space-between;
      padding: 0.5em;

      &.active {
        background: @primary-color;
      }

      &:hover {
        .remove-tarot-card {
          display: block;
        }
      }

      .remove-tarot-card {
        display: none;
      }

    }
  }

  .tarot-explanation {
    width: 70%;

    .tarot-explanation-header {
      height: 20%;

      .tarot-explanation-source-container {
        display: flex;
        height: 50%;

        .tarot-explanation-source {
          padding: 0.5em;

          &.active {
            background: @primary-color;
          }
        }
      }
    }

    textarea {
      height: 80%;
    }


  }

  & * {
    border: 1px solid black;
  }

}

input[type="text"].inline-input:not(.browser-default) {
  height: inherit;
  border: none;
  margin: 0;

}
