@import (reference) '~styles/colors.less';

@matHeight: 36px;

.todo-list {
  margin: 80px auto;
  width: 70vw;

  .todo-input {
    &:focus {
      border-color: orange;
    }
  }

  .todo-list-item {
    display: flex;
    justify-content: space-between;
    height: @matHeight;

    &:hover {
      background: @primary-color-hover;

      .todo-item-menu {
        display: flex;
      }
    }

    .todo-list-item-group {
      display: flex;
      width: 100%;

      .todo-item-text {
        align-self: center;
        width: inherit;

        &.todo-item-done {
          text-decoration: line-through;
        }
      }
    }

    .todo-item-menu {
      display: none;

      .todo-item-remove {
        cursor: pointer;
      }
    }
  }
}
